* {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.createBoard,
.board {
  width: 300px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.boards {
  display: flex;
}

.board {
  margin-top: 10px;
  margin-right: 10px;
  transition: height 0.5s ease;
  height: fit-content;
  position: relative;
}

.plus {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.input_hidden {
  height: 0;
  opacity: 0;
  z-index: -1;
}

.input_visible {
  opacity: 1;
}

.input_board {
  transition: 0.2s;
}

.task:first-child {
  margin-top: 5px;
}

.task {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}
